<div class="bottom  popover in bottom-left" [ngStyle]="{'background-color': 'white', 'z-index': '1', 'display': 'block', 'top': getTopPopover(), 'left': getLeftPopover()}">
    <div class="arrow" [ngStyle]="{'top': getTopArrow(), 'left': getLeftArrow()}"></div>
    <div>
        <div class="popover-inner">
            <h3 class="popover-title">{{getTitle()}}</h3>
            <div class="popover-content">
                <div class="">
                    <div class="popover-content">{{getContent()}}</div>
                    <div class="popover-navigation">
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-default" (click)="focusOnCoachMarkElement(getNextPrevElement(-1), -1)">&laquo;
                                Prev</button>
                            <button type="button" class="btn btn-sm btn-default" (click)="focusOnCoachMarkElement(getNextPrevElement(1), 1)">Next
                                &raquo;</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="tour-overlay"></div>