.popover {
    padding-right: 4px;
    padding-left: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-family: RobotoRegular0;
    line-height: 1.2;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    line-break: auto;
    z-index: 1122;
}

.popover-title {
    font-size: 14px;
    font-weight: bold;
    padding-left: 7px;
    padding-right: 9px;
}

.popover-title span {
    margin-bottom: 8px;
}

.popover-content {
    overflow-y: auto;
    font-size: 12px;
    padding-left: 7px;
    padding-right: 9px;
}

.popover.top {
    margin-top: -10px;
}

.popover.right {
    margin-left: 10px;
}

.popover.bottom {
    margin-top: 10px;
}

.popover.left {
    margin-left: -10px;
}

.popover.left>.arrow {
    left: -19px;
    margin: 0px;
}

.popover.left>.arrow:after {
    border-left-color: #fff;
}

.popover.right>.arrow {
    left: -19px;
    margin-left: 0px;
}

.popover.right>.arrow:after {
    border-right-color: #fff;
}

.popover>.arrow:after {
    content: "";
    border-width: 10px;
}

.popover.top>.arrow {
    margin-left: -11px;
}

.popover.top>.arrow:after {
    border-top-color: #fff;
}

.popover.bottom>.arrow {
    margin-left: -11px;
}

.popover.bottom>.arrow:after {
    border-bottom-color: #fff;
}

.popover-footer {
    position: absolute;
    bottom: 0%;
    padding-left: 7px;
    padding-bottom: 4px;
    font-size: 12px;
}

.popover-footer .link {
    cursor: pointer;
    text-decoration: underline;
}

.left {
    float: left;
}

.right {
    float: right;
}

.tour-step-background {
    position: absolute !important;
    z-index: 1100;
    background-color: white;
}

.tour-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .5);
    opacity: 0.8;
}